.spec-select-popup {
  .nut-popup__close-icon {
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
  }
  .nut-popup-title-right {
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
  }
}
.nut-popup-round {
  border-radius: 24px 24px 0 0 !important;
}
