.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.content-large-top {
    padding-top: 80px;
  }

  // 未登录 - 用户图标
  .icon-circle {
    margin-top: 80px;
    width: 74px;
    height: 74px;
    .icon-img {
      width: 74px;
      height: 74px;
    }
  }

  // 标题文字
  .title {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    line-height: 22px;
    letter-spacing: 5px;
    margin-top: 40px;
  }

  // 标题 - 间距
  .title-mt {
    margin-top: 20px;
  }

  // 微信登陆按钮
  .wx-login-btn {
    width: 310px;
    height: 56px;
    background-color: #07c060;
    color: #fff;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
    box-shadow:
      0 8px 10px -6px rgba(0, 0, 0, 0.1),
      0 20px 25px -5px rgba(0, 0, 0, 0.1);

    &::after {
      border: none;
    }

    .btn-content {
      display: flex;
      align-items: center;
      justify-content: center;

      .btn-icon {
        width: 24px;
        height: 24px;
        margin-right: 10rpx;
      }
    }
  }

  // 协议行
  .agreement-row {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 22px;
    color: #000;
    cursor: pointer;
    user-select: none;
    margin-top: 300px;
    -webkit-tap-highlight-color: transparent;

    .radio-icon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      flex-shrink: 0;
    }

    .agreement-text {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      color: rgba(0, 0, 0, 0.5);

      .agreement-link {
        color: #08f;
        margin-left: 4rpx;
      }
    }
  }

  // 注册成功标题
  .success-title {
    font-size: 40rpx;
    font-weight: 500;
    color: #000;
    line-height: 20px;
  }

  // 二维码卡片
  .qrcode-card {
    width: 225px;
    height: 225px;
    border-radius: 34rpx;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(137, 137, 137, 0.14);
    margin: 80px 0;

    .qrcode-image {
      width: 100%;
      height: 100%;
    }
  }

  // 保存提示
  .save-tip {
    font-size: 40rpx;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    line-height: 20px;
  }

  // 底部按钮
  // .bottom-actions {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   gap: 24rpx;

  //   .action-btn {
  //     width: 500rpx;
  //     height: 88rpx;
  //     border-radius: 44rpx;
  //     font-size: 32rpx;
  //     font-weight: 500;
  //     border: none;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     padding: 0;

  //     &::after {
  //       border: none;
  //     }

  //     &.primary {
  //       background-color: #000;
  //       color: #fff;
  //     }

  //     &.secondary {
  //       background-color: #f5f5f5;
  //       color: #666;
  //     }
  //   }
  // }
  // 二维码图标
  .content-success-top {
    padding-top: 40px;
  }
  .icon-box {
    width: 259px;
    height: 503px;
    position: relative;
    border: 1px solid #c6c6c6;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .icon-qrcode {
    width: 259px;
    height: 503px;
  }
  .icon-qrcode2 {
    width: 106px;
    height: 106px;
    border: 2px solid #edd8c2;
    border-radius: 18px;
    position: absolute;
    bottom: 72px;
    left: 50%;
    transform: translateX(-50%);
  }
  .save-tip {
    width: 192px;
    height: 47px;
    font-size: 14px;
    font-weight: 500;
    line-height: 47px;
    color: white;
    background-color: #000;
    border-radius: 23px;
    text-align: center;
    margin-top: 50px;
  }
}
