.coupon-detail-content {
  display: flex;
  flex-direction: column;
  // padding: 16px 16px 24px;
  box-sizing: border-box;
  background: #f6f6f6;
  max-height: 70vh;
  border-radius: 24px;
}

.coupon-detail-close {
  position: relative;
  height: 56px;
}

.coupon-detail-close-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.coupon-detail-list {
  flex: 1;
  overflow: hidden;
  margin-bottom: 16px;
  padding: 0 12px;
}

.coupon-detail-item {
  // display: flex;
  // align-items: flex-start;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.coupon-detail-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background: #fff;
  flex-shrink: 0;
}

.coupon-detail-info {
  // flex: 1;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // margin-left: 12px;
  // min-height: 80px;
  // gap: 6px;
  margin-top: 10px;
}

.coupon-detail-tag-row {
  display: inline-flex;
}

.coupon-detail-tag {
  display: inline-block;
  padding: 0 3px;
  border-radius: 2px;
  font-size: 8px;
  color: #f2330d;
  height: 14px;
  border: 0.5px solid rgba(242, 51, 13, 0.5);
}

.coupon-detail-subtotal {
  font-size: 8px;
  color: #000;
  line-height: 14px;
}

.coupon-detail-discount {
  font-size: 8px;
  color: #000;
  line-height: 14px;
  margin-left: 10px;
}

.coupon-detail-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0;
  box-sizing: border-box;
  background: #f6f6f6;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.coupon-detail-total {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.coupon-detail-total-row {
  display: flex;
  align-items: center;
}

.coupon-detail-total-label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 18px;
  font-weight: 400;
}

.coupon-detail-total-price {
  font-size: 14px;
  color: #000;
  line-height: 18px;
  font-weight: 600;
  margin-left: 5px;
}

.coupon-detail-total-count {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 18px;
  font-weight: 400;
}

.coupon-detail-entry {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.coupon-detail-entry-text {
  font-size: 12px;
  color: #f2330d;
  line-height: 18px;
  font-weight: 400;
}

.coupon-detail-entry-arrow {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}

.coupon-detail-pay-btn {
  height: 50px;
  padding: 0 36px;
  border-radius: 100px;
  background: #1c1c1e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coupon-detail-pay-text {
  font-size: 16px;
  color: #fff;
  line-height: 18px;
  font-weight: 500;
}
